body{
  background: linear-gradient(#ffffff,#96c1ff)fixed;

}
/*navigation bar code source: https://www.w3schools.com/css/css_navbar.asp*/
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 13%;
  background:linear-gradient(#96c1ff,#ffffff)fixed;
  height: 100%;
  position: fixed;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  border-bottom: 2px solid #bbb;
  text-decoration: none;
  font-size: 17px;
}

li a:hover {
  background-color: #555;
  color: white;
}

.view{
  margin-left: 20%;
  max-width: 87%;
}

#logo {
  font-size: 50px;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 6%;
  padding: 10px;
  text-align: center;
}

#mission-stmtEng{
  text-align: right;
  margin-left: 15%;
  margin-right:5%;
  margin-bottom: 6%;
  font-size: 16px;
  font-style: italic;
  font-family:sans-serif;
  line-height: 2;
}

#mission-stmtKor{
  text-align: right;
  margin-left: 15%;
  margin-right:5%;
  font-size: 16px;
  font-style: italic;
  font-family:sans-serif;
  line-height: 2;
}

#me{
  font-size: 13px;
}

#upcoming {
  font-size: 35px;
  font-family:inherit;
  font-weight: bold;
  text-decoration: underline;
  color:black;
  padding: 10px;
  margin-right:5%;
  margin-left:40%;
}
.events{
  margin-left: 13%;
  margin-right: 5%;
  padding-bottom: 5%;
  font-size:20px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

#previous{
  font-size: 35px;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 5%;
  padding: 10px;
  text-align: left;
  margin-left: 43%;
  text-decoration: underline;
}
.pimages{
  float:left;
  margin-left: 20%;
  margin-bottom: 13%;
  margin-right: 2%;
  border: 1px solid;
  padding:3%;
  text-align: right;
  /* shadow code source:https://www.w3schools.com/css/css3_shadows.asp*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.pimages:hover {
  border: 1px solid #777;
}

.pimages img {
  width: 250px;
  height: 250px;
}
.pimages-cap {
  text-align: center;
  text-decoration: underline;
  color:blue;
}
/*members.html page*/
#members {
  font-size: 40px;
  text-decoration: underline;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 5%;
  padding: 10px;
  margin-left: 47.5%;
}
.mimages {
  float:left;
  margin-left: 10%;
  margin-right: 3%;
  padding-bottom: 5%;
  width:400px;

}
.mimages img{
  width:170px;
  height:210px;
}

#ilshin{
  font-size: 35px;
  text-decoration: underline;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 10%;
  padding: 10px;
  margin-left: 43%;
}

.ilshinImg{
  float:left;
}

#hyundai{
  font-size: 35px;
  text-decoration: underline;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 10%;
  padding: 10px;
  margin-left: 41%;
}
.hyundaiImg{
  margin-left:47%;
  padding-top: 1%;
  font-style:italic;
  font-size:20px;
}
#chang{
  font-size: 35px;
  text-decoration: underline;
  font-family:inherit;
  font-weight: bold;
  color:black;
  margin-bottom: 5%;
  padding: 10px;
  margin-left: 43%;
}
.changImg{
  float:left;
  padding-right: 4%;
  width:400px;
}
.changImg img{
  width:400px;
  height:300px;
}
#changVid{
  padding-left: 3.5%;
  padding-bottom: 5%;
}
.clear {
  clear:both;
}
