body {
  width: 800px;
  margin:0 auto;
  background: #FFFFF2;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

p {
  font-family: monospace;
  font-size: 20px;
  text-align: justify;
}

li {
  font-size: 20px;
  font-family: monospace;
}

figcaption {
  font-family: monospace;
  text-align: center;
}

.navbar {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #FFFFF2;
    border: 3px solid black;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 10px;
    font-family: monospace;
    font-size: 15px;
}

.active {
  background-color: #c6cbd3;
}

.section {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: monospace;
}

.WeaponLinks {
  font-size: 20px;
}

.weapontitle {
  text-decoration: underline;
  font-size: 25px;
  font-family: monospace;
}


#banner {
  width: 80%;
}

#descriptions {
  padding: 10px;
}

#descriptions ul {
  list-style-type: none;
}

#descriptions li {
  font-family: monospace;
  font-size: 20px;
  padding: 5px 0px;
}
