
body{
  background: white;
  color: maroon;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 25px;
  border-color: black;
  font-family: "Georgia", serif;
  margin: 0px;
}

p{
  font-family: "Georgia", serif;
}

ul{
  margin-left: 15%;
  width:70%;
  margin-right: 15%;
  padding: 35px;
}

li {
  display: inline;
  width: 130px;
  text-align: center;
  color: maroon;
  background-color: white;
}

a {
  text-align: center;
  text-decoration: none;
  color: maroon;
  background-color: white;
  font-family: "Georgia", serif;
  font-size: 20px;
}

h1{
  font-size: 35px;
  width: 100%;
  padding: 0px;
  font-family: "Georgia", serif;
  margin-left: 0px;
  text-align: center;
  text-decoration: underline;
}
h2{
  font-size: 25px;
  margin: 10px;
  font-family: "Georgia", serif;
  display: block;
}
h3{
  font-size: 25px;
  margin: 10px;
  font-family: "Georgia", serif;
  display: block;
}
h4{
  font-size: 25px;
  margin: 10px;
  font-family: "Georgia", serif;
  text-align: left;
  display: block;
}

.header{
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.source{
  text-align: center;
  font-size: 10px;
}

.links{
  margin-bottom: 50px;
  padding-left: 4%;
  padding-right: 4%;
  width: 130px;
  text-align: center;
  color: maroon;
  background-color: white;
}

.links:hover{
  background-color:#A4CB7D ;
  color: green;
}

.things1link:hover{
  background-color: maroon;
  color: white;
}

.things2link:hover{
  background-color: maroon;
  color: white;
}

.things3link:hover{
  background-color: maroon;
  color: white;
}

.article3:hover{
  background-color: maroon;
  color: white;
}

.article2:hover{
  background-color: maroon;
  color: white;
}

.article1:hover{
  background-color: maroon;
  color: white;
}

.homepage{
  display: flex;
  flex-direction: row;
}

.welcome{
  float: left;
  width: 100%;
}

.datediv{
  display: flex;
  flex-direction: column;
}

.date{
  float: left;
  font-size: 20px;
  width: 100%;
}

.date2{
  font-size: 18px;
  text-align: center;
}

#lindsey{
  margin-left: 10%;
  margin-right: 5%;
}

#comecelebrate{
  margin-right: 5%;
  margin-top: 40px;
  font-size: 24px;
}

#meetour{
  padding-top: 250px;
  font-size: 22px;
}

#entertainment{
  padding-left: 5%;
  background-color: #A4CB7D;
  color: maroon;
  border:0px;
  padding-top: 30px;
  margin: 0px;
  display: block;
}
#saturday{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  float: left;
  width: 46%;
  background-color: #A4CB7D;
  color: maroon;
  border-right: 5px;
  border-right-color: maroon;
  border-right-style: solid;
  padding-bottom: 20px;
}

.daycategory{
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

.day{
  font-weight: bold;
}

#sunday{
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 47%;
  background-color: #A4CB7D;
  color: maroon;
}

#kids{
  background-color: #A4CB7D;
  color: maroon;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
}

#food{
  padding-left: 5%;
  background-color: #E7BC90;
  color: maroon;
  border:0px;
  padding-top: 30px;
  margin: 0px;
}
.onefood{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  float: left;
  width: 31.3%;
  height: 427px;
  background-color: #E7BC90;
  color: maroon;
  margin-bottom: 20px;
}
.twofood{
  display: flex;
  flex-direction: column;
  float: left;
  width: 31.3%;
  height: 427px;
  background-color: #E7BC90;
  color: maroon;
  margin-bottom: 20px;
}
.threefood{
  display: flex;
  flex-direction: column;
  float: left;
  height: 427px;
  width: 32.3%;
  background-color: #E7BC90;
  color: maroon;
  margin-bottom: 20px;
}

#vendor{
  padding-left: 5%;
  background-color: #E8A2A2;
  color: maroon;
  border:0px;
  display: block;
  margin: 0px;
}
.onevendor{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  float: left;
  width: 31.3%;
  background-color: #E8A2A2;
  color: maroon;

}
.twovendor{
  display: flex;
  flex-direction: column;
  float: left;
  width: 31.3%;
  background-color: #E8A2A2;
  color: maroon;
  margin: 0px;
}
.threevendor{
  display: flex;
  flex-direction: column;
  float: left;
  width: 32.3%;
  background-color: #E8A2A2;
  color: maroon;
  margin: 0px;
}

.homepage1{
  background-color: #E8A2A2;
  color: maroon;
  display: flex;
  flex-direction: row;
}

.source2{
  text-align: left;
  font-size: 10px;
}

.history{
  float: left;
  width: 50%;
}

.article1{
  float:left;
  text-align: left;
  background-color: #E8A2A2;
  color: maroon;
}

.hotel1{
  font-size: 22px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  float:left;
  text-align: left;
  background-color: #E8A2A2;
  color: maroon;
}

.things1{
  font-size: 18px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  float:left;
  text-align: left;
  background-color: #E8A2A2;
  color: maroon;
}

.things1link{
  font-size: 25px;
  padding-top: 15px;
  margin: 25px;
  float:left;
  text-align: left;
  background-color: #E8A2A2;
  color: maroon;
}

.homepage2{
  background-color: #A4CB7D;
  color: maroon;
  display: flex;
  flex-direction: row;
}

.article2{
  float:left;
  text-align: left;
  background-color: #A4CB7D;
  color: maroon;
}

.things2{
  font-size: 18px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  float:left;
  text-align: left;
  background-color: #A4CB7D;
  color: maroon;
}

.things2link{
  font-size: 25px;
  padding-top: 15px;
  margin: 25px;
  float:left;
  text-align: left;
  background-color: #A4CB7D;
  color: maroon;
}

.homepage3{
  color: maroon;
  background-color: #E7BC90;
  display: flex;
  flex-direction: row;
}

.article3{
  float:left;
  text-align: left;
  color: maroon;
  background-color: #E7BC90;
}

.things3{
  font-size: 18px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  float:left;
  padding-left: 10px;
  text-align: left;
  color: maroon;
  background-color: #E7BC90;
}

.things3link{
  padding-top: 15px;
  margin: 25px;
  font-size: 25px;
  float:left;
  text-align: left;
  color: maroon;
  background-color: #E7BC90;
}

#hotel{
  width: 100%;
  margin: 25px;
  padding-top: 20px;
}

#hotellink{
  background-color: #E8A2A2;
  text-decoration: underline;
  color: maroon;
  font-size: 22px;
}

#hotellink:hover{
  background-color: maroon;
  color: white;
}

#thingstodo{
  margin: 25px;
  padding-top: 40px;
}

#car{
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 792px;
  background-color: #E8A2A2;
  color: maroon;
}

.desttext{
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

#bus{
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 792px;
  background-color: #A4CB7D;
  color: maroon;
}

.bustype{
  margin-left: 25px;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.busback{
  background-color: #A4CB7D;
  color: maroon;
}

.busback:hover{
  background-color: maroon;
  color: white;
}

#contact1{
  display: flex;
  flex-direction: column;
  float: left;
  width: 45%;
}

.contact{
  text-align: right;
  margin-right: 25px;
}

#contact2{
  display: flex;
  flex-direction: column;
  float: left;
  width: 55%;
}

.contactpic{
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.italics{
  font-style: italic;
  margin: 10px;
}
#italics2{
  font-style: italic;
}

.boldly{
  font-weight: bold;
}
