
body {
  background-image: url('Images/Background.jpg');
  background-color: #e5f5ff;
}

#header {
  width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #87bbc6;
}

nav {
  width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 13px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #2b4070;
  padding: 5px;
  border-radius: 5px;
}

.left{
  float: left;
  position: absolute;
  background-color:#2b4070;
  width: 200px;
  height: 220px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.left a{
  display: block;
  color: white;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main {
  background-color: #efffff;
  width: 660px;
  display: block;
  margin: auto;
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
}
table {
  text-align: center;
  margin: auto;
  width: 80%;
}

tr th {
  color: #637984;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

tr td{
  color: #2b4070;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  border: 1px solid black;
  padding: 8px;
  background-color: #fcfeff;
  margin: 10px;
}

table img {
  padding: 0px 31.1px;
}


img {
  display: block;
  margin: auto;
}

h3 {
  color: #2b4070;
  font-family: "Arial Black", "Gadget", Sans-serif;
  font-style: italic;
}

.title {
  color: #2b4070;
  font-family: "Arial Black", "Gadget", Sans-serif;
}

.subtitle {
  color:#4d9185;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.text {
  color:#464544;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.subtext{
  color:#464544;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.cats {
  color:#a1b8c4;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}


ul{
  color:#464544;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 25px;
}

.footer a{
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 11px;
}

.footer {
  background-color: #2b4070;
  width: 660px;
  padding: 5px 20px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  color: white;
}


.bold {
  font-weight: bold;
}

#side{
  text-align: center;
  background-color:#87bbc6;
  width: 140px;
  height: 180px;
  float: left;
  position: absolute;
  border-radius: 5px;
  margin-top: 250px;
}

#side a{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
}

#right{
  float: right;
  margin: 10px;
}

#quote{
  float: right;
  margin-right: 80px;
  margin-top: 65px;
  border: 3px solid #4d9185;
}
