body {
  font-family: sans-serif;
  background-color: lightgreen;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: brown;
}

h3 {
  font-style: italic;
  text-align: center;
  color: brown;
}

h4 {
  text-align: center;
  font-weight: bold;
  color: purple;
  font-size: 20px;
}

p {
  color: purple;
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

figcaption {
  color: purple;
  font-size: 15px;
  text-align: center;
}

.CTAs {
  font-weight: bold;
  color: red;
  font-size: 20px;
  text-align: center;
}

.description {
  font-size: 20px;
  text-align: justify;
}

#content-wrap {
  display: flex;
  flex-direction: row;
}

#mainlogo {
  flex: 4;
  order: 1;
  padding: 20px;
  background-color: lightgreen;
  text-align: center;
}

#dates {
  flex: 4;
  order: 2;
  padding: 20px;
  background-color: lightblue;
  text-align: center;
}

#vendor-wrap1 {
  display: flex;
  flex-direction: row;
}

#craftvendors {
  flex: 1;
  order: 1;
}

#foodvendors {
  flex: 1;
  order: 2;
}

#vendor-wrap2 {
  display: flex;
  flex-direction: row;
}

#farmervendors {
  flex: 1;
  order: 1;
}

#additionalvendors {
  flex: 1;
  order: 2;
}

#schedule {
  background-color: lightblue;
}

.map {
  margin-top: 25px;
}

.photo {
  height: 200px;
  width: 200px;
  margin-left: 70px;
  padding-bottom: 30px;
}

#photo-wrap1 {
  display: flex;
  flex-direction: row;
}

#pic1 {
  flex: 1;
  order: 1;
}

#pic2 {
  flex: 1;
  order: 2;
}

#pic3 {
  flex: 1;
  order: 3;
}

#pic4 {
  flex: 1;
  order: 4;
}

#photo-wrap2 {
  display: flex;
  flex-direction: row;
}

#pic5 {
  flex: 1;
  order: 1;
}

#pic6 {
  flex: 1;
  order: 2;
}

#pic7 {
  flex: 1;
  order: 3;
}

#pic8 {
  flex: 1;
  order: 4;
}

#photo-wrap3 {
  display: flex;
  flex-direction: row;
}

#pic9 {
  flex: 1;
  order: 1;
}

#pic10 {
  flex: 1;
  order: 2;
}

#pic11 {
  flex: 1;
  order: 3;
}

#pic12 {
  flex: 1;
  order: 4;
}

#photo-wrap4 {
  display: flex;
  flex-direction: row;
}

#pic13 {
  flex: 1;
  order: 1;
}

#pic14 {
  flex: 1;
  order: 2;
}

#pic15 {
  flex: 1;
  order: 3;
}

#pic16 {
  flex: 1;
  order: 4;
}

@media only screen and (max-width: 480px) {
  #content-wrap {
    display: flex;
    flex-direction: column;
  }

  #mainlogo {
    margin-left: 0px;
    padding: 0px;
  }

  #dates {
    padding: 10px;
  }

  #vendor-wrap {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }

  .CTAs {
    font-size: 15px;
  }

  .description {
    font-size: 15px;
  }

  .map{
    width: 100%;
    margin-top: 10px;
  }

  #photo-wrap1 {
    display: flex;
    flex-direction: column;
  }

  #photo-wrap2 {
    display: flex;
    flex-direction: column;
  }

  #photo-wrap3 {
    display: flex;
    flex-direction: column;
  }

  #photo-wrap4 {
    display: flex;
    flex-direction: column;
  }

  .photo {
    align-items: center;
  }

  #vendor-wrap1 {
    display: flex;
    flex-direction: column;
  }

  #vendor-wrap2 {
    display: flex;
    flex-direction: column;
  }

  .vendor {
    width: 100%;
  }

}
