body{
  background-color: white;
}

li{
  list-style: none;
}

.logo{
  font-family: "Atlas Grotesk Web", serif;
  font-size: 50px;
  text-align: left;
  margin-left: 20px;
  color: black;
  margin-top: 15px;
  padding: 5px;
}

header a{
  text-decoration: none;
  color: black;
}

.navbar li{
  list-style:none;
  display: block;
  padding: 5px;
}

.navbar a{
  color: grey;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar a:hover{
  color: black;
  font-size: 17px;
}

.navbar{
  width: 50px;
  margin-left:5px;
  float: left;
}

#homenav li{
  display: inline-block;
  clear: both;
  padding: 30px;
  margin: 8px;
  width: 350px;
  height: 200px;
  text-align: center;
  opacity: 0.5;
}

#homenav li:hover{
  opacity: 1;
}

#homenav a{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  background:rgba(255, 255, 255, 0.7)
}

/*Picture taken by me*/
#about{
  background: url("../images/paulapic.jpg") no-repeat;
  background-size: cover;
}

/*Picture taken from morrisconsulting.eu*/
#workx{
  background: url("../images/workexperience.jpg") no-repeat;
  background-size: cover;
}

/*Picture taken from linkedin.com*/
#leadership{
  background: url("../images/leadership.jpg") no-repeat;
  background-size: cover;
}

/*Picture taken from statlerhotel.cornell.edu*/
#classes{
  background: url("../images/cornell.jpg") no-repeat;
  background-size: cover;
}

/*Picture taken from jobstreet.com*/
#resume{
  background: url("../images/resume2.jpg") no-repeat;
  background-size: cover;
}

/*Picture taken from linkedin.com*/
#references{
  background: url("../images/references.jpg") no-repeat;
  background-size: cover;
}

.text a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.text a:hover{
  text-decoration: underline;
}

.content{
  /*float: left;*/
  width: 1000px;
  margin-left: 275px;
  margin-top: 50px;
}

h1{
  font-family: serif;
  font-size: 50px;
  text-align: left;
  margin-left: 20px;
}

.contact{
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

#info{
  font-style: italic;
  font-size: 18px;
}
