body {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  background-color: LightCoral;
  font-family: Georgia;
}

#header1 {
  font-size: 33px;
  color: lightcyan;
  text-align: center;
}

#header2 {
  font-size: 24px;
  font-weight: bold;
  color: DarkSlateGrey;
  text-align: center;
}

#navbars {
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: lightcyan;
  display: block;
}

#navbars ul {
  list-style-type: none;
  overflow: hidden;
}

#navbars ul li {
  display: inline-block;
    margin-left:4.5%;
    margin-right:4.5%;
}

#navbars ul li a {
  text-decoration: none;
  color: black;
  margin-left: 0%;
  margin-right: 0%;
}

#navbars ul li a:hover:not(.active) {
  background-color: lightskyblue;
}

#navbars .active {
  background-color: CornflowerBlue;
}

#figure1 {
  margin: 0;
}
#figure2 {
  margin: 0;
}

.homepageimg1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%
}

.homepageimg2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#figcaption1{
  text-align: center;
}
#figcaption2{
  text-align: center;
}

.v h3{
  color: lightblue;
  font-size: 25px;
  margin-bottom:8px;
}

.v h4{
  font-size: 18px;
  font-style: normal;
  text-align: center;
  margin-bottom:0px;
}
.v h6{
  font-size: 14px;
  font-style: normal;
  text-align: center;
  margin: 3px;
  color: white;
}
.vendors {
  width: 48%;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
}

.vendors img{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.horizontal img{
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 20px;
}

.a img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 620px
}

.a h3{
  color: lightblue;
  font-size: 25px;
  margin-bottom:8px;
}

.a h4{
  font-size: 18px;
  font-style: normal;
  text-align: center;
}

#hotel1{
  text-align: center;
}
#hotel2{
  text-align: center;
}
#hotel3{
  text-align: center;
}
#hotel4{
  text-align: center;
}

.oa p{
  text-align: center;
}

.oa ul{
  text-align: center;
}
.s h3{
  color: lightblue;
  font-size: 25px;
  margin-bottom:8px;
}

.s h4{
  font-size: 18px;
  font-style: normal;
}

.g figure{
  text-align:center;
}
.g_vertical figure img{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


img {
  max-width: 100%;
}

@media screen and (max-width: 450px){

  body {
    width: 80%;
  }
  .v h4{
    font-size: 10px;
    font-style: normal;
  }

  #navbars {
    margin-left:25%;
    width: 50%;
  }

  #navbars ul {
    padding: 0;
  }

  #navbars ul li {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .accomodations img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 20%;
  }

  .g figure figcaption{
    font-size: 12px;
  }
}
