body {
  /* BUG 1: Generic Font Family Keywords should not be in quotes!*/
  /* NOTE: This bug may only be shown as a warning, not as a bug  */
  /* NOTE: Times New Roman is recommended to be in quotes; not required */
  font-family: sans-serif, Times New Roman;
  background-color: /*light salmon*/ #FADBD8;
}

li {
  list-style: none;
}

a {
  /* BUG 2: Did not close comment correctly; missing asterisk  */
  color: /*red*/ #B03A2E;
}

/* NOTE: H1 is correct! Selectors are not case-sensitive*/
H1{
/* BUG 3: Missing semi-colon after font-size */
  font-size: 42px;
  /* BUG 4: Mispelled center as centre */
  text-align: center;
}

/* BUG 5: no space between selectors */
header img {
  width: 100px;
}

/* BUG 6: Was missing period before the classname */
.stress{
  /* BUG 7: Comma instead of semi-colon */
  font-weight: bold;
  font-size: 18px;
}

footer {
  color: #7B241C;
  background-color: white;
  font-size: 10px;
  /* NOTE: You do not need to end on a semi-colon, it's good practice but not a bug */
  /* BUG 8: vertical-align instead of text-align (wrong property name) */
  text-align: center
}
