header{
  font-family: "Copperplate", monospace;
  text-align: center;
}

.caption{
  font-size: 10px;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
}

.content-wrap {
  display: flex;
  flex-direction: row;
}

.p1{
  flex: 1;
  order: 1;
}

.p2{
  flex: 1;
  order: 2;
}

.p3{
  flex: 1;
  order: 3;
}

/*navigation*/

.directory{
  background: white;
  text-align: center;
}

.navbar-fixed-top {
  position: fixed;
  right:0;
  left:0;
  top:0;
  background: white;
  height:250px;
  text-align: center;
}

.dir {
  margin-top: 0;
  padding: 1%;
  width: 100%;
  background: #417D37;
}

.dir ul{
  list-style: none;
}

.dir li{
  display: inline;
  font-weight: bold;
  font-size: 23px;
  margin-left: 50px;
  margin-right: 50px;
}

.dir a{
  color: white;
  margin-right: 10px;
  font-family: "Copperplate", monospace;
  text-decoration: none;
}

/*index page*/
.index_content{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  color: #800020;
  margin-top: 300px;
}

.index_content img{
  width: 88%;
}

.snslogo img{
  width: 10%;
  margin: 10px;
}

#index{
  order:1;
  margin: 3%;
}

#index2{
  order: 2;
  margin: 3%;
}

/*information page*/

.info_content{
  font-size: 20px;
  text-align: left;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 300px;
}

.info_content a{
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
}

/*program page*/

.program_content{
  font-size: 17px;
  text-align: left;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 300px;
  flex: 3;
  order: 2;
}

.program_content a{
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
}

.schedule{
  list-style: none;
}

.food img{
  width: 100%;
  border: 3px solid #800020;
}

.caption2{
  text-align: center;
}

/*gallery page*/

.gallery{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
  margin-top: 300px;
}

.g_year{
  font-size: 25px;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  text-align: left;
  background: #800020;
  color: white;
}

.gallery img{
  width: 90%;
  border: 3px solid #800020;
}

/*contact page*/

.contact{
  font-size: 17px;
  text-align: left;
  font-family: "Gill Sans", sans-serif;
  color: #48381A;
  margin-top:300px;
  margin-left: 5%;
  margin-right: 18%;
}

@media screen and (max-width: 700px) {

  body{
    margin-top: 200px;
  }

  .logo{
    width: 100%;
  }

  #index{
    width: 85%;
  }

  #index2{
    width: 85%;
  }

  .dir li{
    margin: 0 auto;
  }

  .content-wrap{
    display: flex;
    flex-direction: column;
  }

  #festivalmap{
    width: 100%;
  }

  #map{
    width: 100%;
  }

  .gallery img{
    height: auto;
  }
}
